fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
python-multipart
langchain-community
transformers
torch
numpy
faiss-cpu
rank-bm25
groq
email-validator
python-multipart
httpx
pytest
pytest-cov
psycopg-binary
psycopg2-binary
fastembed
tree-sitter
tree-sitter-java

